@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  input[type='text'] {
    @apply p-1 bg-white text-slate-700 text-sm rounded-md focus:ring-0;
  }

  select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%23334155' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.75rem center;
    background-size: 0.75em 0.75em;
    @apply appearance-none bg-white bg-no-repeat p-2 pr-8 text-slate-700 text-sm leading-none rounded-md focus:ring-0;
  }

  button {
    @apply px-2 py-1 rounded-md bg-blue-500 disabled:opacity-50;
  }
}

.cm-selectionBackground {
  @apply bg-red-200!;
}

@layer components {
  .diagnostic {
    @apply flex items-center gap-3 mb-4 p-4 border rounded-sm shadow-lg;
  }

  .diagnostic-error {
    @apply bg-red-50 border-red-500 text-red-700;
  }

  .diagnostic-error .btn {
    @apply inline-flex items-center px-2 py-1 border rounded-sm cursor-pointer text-xs bg-white hover:bg-red-200 border-red-300 text-red-800;
  }

  .diagnostic-warning {
    @apply bg-amber-50 border-amber-500 text-amber-800;
  }

  .diagnostic-warning .btn {
    @apply inline-flex items-center px-2 py-1 border rounded-sm cursor-pointer text-xs bg-white hover:bg-amber-400 border-amber-300 text-amber-800;
  }

  .diagnostic-info {
    @apply bg-slate-50 border-slate-200 text-slate-800;
  }

  .diagnostic-info .btn {
    @apply inline-flex items-center px-2 py-1 border rounded-sm cursor-pointer text-xs bg-white hover:bg-slate-200 border-slate-300 text-slate-800;
  }
}
